Source: wlanpi-fpms
Section: contrib/python
Priority: extra
Maintainer: Jiri Brejcha <jirka@jiribrejcha.net>
Build-Depends: debhelper (>= 9), python3, python3-venv, python3-dev, dh-virtualenv (>= 1.1), tar
Standards-Version: 3.9.5
Homepage: https://github.com/WLAN-Pi/wlanpi-fpms

Package: wlanpi-fpms
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3, python3-venv, ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: WLAN Pi Front Panel Management System (FPMS)
    .
    This is a distribution of "wlanpi-fpms" as a self-contained
    Python virtualenv wrapped into a Debian package ("omnibus" package,
    all passengers on board). The packaged virtualenv is kept in sync with
    the host's interpreter automatically.
    .
    See https://github.com/spotify/dh-virtualenv for more details.
